dist
build
punk.egg-info

References.txt

# Byte-compiled / optimized / DLL files                                         
__pycache__/                                                                    
*.py[cod]                                                                       
                                                                                
# backups                                                                       
*.sw[op] 

.ipynb_checkpoints/ 

d3m/log.txt
